<a href="https://colab.research.google.com/github/ayush1719/git-demo/blob/Python/Python_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello world

In [3]:
print("hello",end='\n')
print("world")

hello
world

operators ka question

In [1]:
#print the sum of a three digit number from user input

num = int(input("Enter a three digit number : "))

#if num is 345
#a = 345%10 = 5
a = num%10

#now 345//10 = 34.5 -> 34
num = num//10

#now b = 34%10 = 4
b = num%10

#now 34%10 = 3.4 -> 3
num = num//10

#now 3%10 = 3
c = num%10

print(a+b+c)

Enter a three digit number : 123
6

if-else

In [2]:
#email and password check example

email = input("type your email : ")
password = input("type your password : ")

if email == "17ayushsoni@gmail.com" and password == "Ayushsoni":
  print(f"Welcome to Asznee's world")

else:
  print(f"Sorry you are not authorised to enter")

type your email : 17ayushsoni@gmail.com
type your password : Ayushsoni
Welcome to Asznee's world

In [4]:
#min of 3 numbers

num1 = int(input("Enter a num : "))
num2 = int(input("Enter a num : "))
num3 = int(input("Enter a num : "))

if num1 < num2 and num1 < num3:
  print(f'{num1} is the smallest')
elif num2 < num3:
  print(f'{num2} is the smallest')
else :
  print(f'{num3} is the smallest')

Enter a num : 76
Enter a num : 56
Enter a num : 43
43 is the smallest

loops

In [5]:
#print table of number with for

num = int(input("Enter a num : "))

for i in range (1,11):
  product = i*num
  print(f'{num} * {i} = {product}')

Enter a num : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [2]:
#print table of number with while

num = int(input("Enter a num : "))

i = 1
while i < 11:
  #product = i*num
  print(f'{num} * {i} = {num*i}')
  i = i + 1

Enter a num : 13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [3]:
#Guessing game question

import random

jackpot_no = random.randint(1,200)

guess = int(input("Enter your guess : "))

counter = 1

while guess != jackpot_no:
  if guess < jackpot_no:
    print("Guess higher")
  else:
    print("Guess lower")

  guess = int(input("Enter your guess : "))
  counter += 1

else:
  print("Correct guess")
  print(f"you took {counter} attempts")

Enter your guess : 150
Guess higher
Enter your guess : 170
Guess higher
Enter your guess : 185
Guess higher
Enter your guess : 198
Guess lower
Enter your guess : 194
Guess lower
Enter your guess : 190
Guess higher
Enter your guess : 192
Guess higher
Enter your guess : 193
Correct guess
you took 8 attempts

In [23]:
current_pop = 10000

for i in range (10,0,-1):
  print (f"year {i} had population {int(current_pop)}")
  current_pop = current_pop/1.1

year 10 had population 10000
year 9 had population 9090
year 8 had population 8264
year 7 had population 7513
year 6 had population 6830
year 5 had population 6209
year 4 had population 5644
year 3 had population 5131
year 2 had population 4665
year 1 had population 4240

In [25]:
#factorial question

num = int(input("Enter a num : "))

result = 0
fact = 1

for i in range (1, num+1):
  fact = fact * i
  result += i/fact

print (result)

Enter a num : 3
2.5

In [26]:
#outer aur inner loop samjhne ka tareeka
#outer loop dega -> no of row, mtlb vertical result
#inner loop defa -> value inside each row, mtlb horizantal result

for i in range (1,5):
  for j in range (1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [5]:
rows = int(input("Enter the number of row you want : "))

for i in range (1, rows+1):
  for j in range (1, i+1): #andar wale loop me i ki jitni value hai utna iterations aur star honge
    print("*",end=' ') #inner loop ke sare star ek space se separate ho naa ki next line se
  print(end='\n') #outer loop me print diya next line pr next value ke liye jaise next line se i=2 ke liye chalega

Enter the number of row you want : 3
*
* *
* * *